include /mixins-pug/accordion-header/index.pug
include /mixins-pug/icon-text-list/index.pug
include /mixins-pug/toggle-arrow/index.pug
include /mixins-pug/icon-radiobuttons/index.pug
include /mixins-pug/dropdown/index.pug
include /mixins-pug/custom-button/index.pug
include /mixins-pug/years-range-spinner/index.pug
include /mixins-pug/switch/index.pug
include /mixins-pug/textbox/index.pug
include /mixins-pug/tooltip/index.pug

include ./presets/dictionaries/datasets.pug
include ./presets/dictionaries/sessions.pug


#left-sidebar.sidebar-wrapper.left.active
	nav.sidebar
		.sidebar-title.section
			.section-header
				h5.header-text.mb-0
					| Data management
					i.material-icons.ml-3 storage

		#session-section.section
			- var targetId = 'session-options';
			+accordion-header(targetId, 'Session management')(class="section-header collapsed")
			.collapse(id=targetId)
				.palette-primary-color-lightest-bg.section-content
					.subsection
						h6.subsection-header.mt-0 Import predefined session
							+tooltip("tp_sess-man-imp")
						#session-presets-wrapper.position-relative
							.loading-select-wrapper.overlay
								span Fetching session...
								.ml-4.spinner-grow(role='status')

							+dropdown('session-presets', sessionsDic, header = 'Select a preset session to import')
						p#session-preset-warning-text.warning-text
						p#session-preset-error-text.error-text

					.subsection
						h6.subsection-header Import session from a local file
							+tooltip("tp_sess-man-loc")
						//-+custom-button('Browse files...', 'file_upload')(id="load-session" class='mb-0 palette-primary no-focus w-100') 
						+custom-button('Browse files...', 'insert_drive_file')(id="load-session" class='mb-0 palette-primary no-focus w-100' title="Choose a session file you want to import") 
						p#load-session-error-text.error-text
						.hidden
							input#load-session-input(type="file" accept=".json")

					.subsection
						h6.subsection-header Create a new session
							+tooltip("tp_sess-man-new")
						div.input-group.mt-2
							+button-textbox('new-session', 'New session name', 'Create', 'library_add', ariaLabel = '')(class='palette-primary no-focus' title="Create new session of given name")
							p#new-session-error-text.error-text

					.subsection
						h6.subsection-header Imported sessions
							+tooltip("tp_sess-man-ld")
			
						div(id='sessions-trash' class=`accordion-header accordion-subsection-header trash-container`) 
							span Drop a session here to remove it
								i.material-icons.ml-2= 'delete'

						h6.subsection-header.my-3

						#sessions-container.subsection
							.absence-prompt No session is available

		#user-data-section.section
			- var targetId = 'user-data-options';
			+accordion-header(targetId, 'User dataset')(class="section-header collapsed")
			.collapse(id=targetId)
				.palette-primary-color-lightest-bg.section-content
					.subsection
						h6.subsection-header Import dataset from a local file
							+tooltip("tp_user-data-import")
						+custom-button('Browse files...', 'insert_drive_file')(id="load-user-data" class='mb-0 palette-primary no-focus w-100' title="Choose the input dataset you want to load") 
						p#user-data-load-error-text.error-text
						.hidden
							input#user-data-load-input(type="file" accept=".json,.csv,.tsv")

						p#user-data-error-text.error-text
						p#user-data-warning-text.warning-text
					.subsection
						p
							a(href="/data/example_dataset.json" download="") Example JSON dataset
						p
							a(href="/data/example_dataset.csv" download="") Example CSV dataset

		#queries-section.section
			- var targetId = 'query-creator';
			+accordion-header(targetId, 'Database queries')(class="section-header collapsed")
			.collapse(id=targetId)
				.palette-primary-color-lightest-bg.section-content
					.subsection
						h6.subsection-header.mt-0 Choose data source
							+tooltip("tp_db-q-db")
						+dropdown("select-query-dataset", datasetsDic, null, null)

					.subsection
						h6.subsection-header Database query filters
							+tooltip("tp_db-q-flt")
						+custom-button("Query builder", "filter_list", 0)(id="query-filters-button" class="palette-primary no-focus w-100 justify-content-center mx-auto mb-2" data-toggle='modal' data-target='#query-builder-modal' title="Define query filters")

					.subsection
						h6.subsection-header Database query content
							+tooltip("tp_db-q-body")
						textarea#query-call-textarea.form-control(rows=10)

						+custom-button("Send query", "search", null, true, "Fetching dataset...")(id="query" class="palette-primary no-focus w-100 justify-content-center mx-auto mt-2 mb-0" title="Send the query and import dataset")
						
						p#query-call-error-text.error-text
						p#query-call-warning-text.warning-text 
		
		hr.section-breaker

		#datasets-section.section 
			- var targetId = 'imported-datasets';
			+accordion-header(targetId, 'Loaded datasets')(class="section-header")
			.show.collapse(id=targetId)
				.palette-primary-color-lightest-bg.section-content
					.subsection
						div(id='dataset-trash' class=`accordion-header accordion-subsection-header trash-container`) 
							span Drop a dataset here to remove it
								i.material-icons.ml-2= 'delete'

					h6.subsection-header.mt-2

					#datasets-container.subsection
						.absence-prompt No dataset is available


	//- apps library_books library_books storage swap_vertical_circle	
	.sidebar-trigger(title="Toggle data management panel")
		.label 
			span 
				| data management
				i.material-icons.ml-3 storage
		+toggle-arrow("left")(class="sidebar-arrow active")